* {
    margin: 0;
    padding: 0;
}
/* CSS for header/navbar */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.endgame {
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 300px;
    height: 300px;
    background-color: rgba(205, 133, 63, 0.8);
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

.endgame button {
    margin-top: 20px; /* Adjust margin between text and button */
}


